table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
}

#tableLanches th.check_column {
	width: 40px;
}

#tableLanches th.lanche_column {
	width: 200px;
}

#tableLanches th.ingrediente_column {
	width: 500px;
}

#tableLanches td.check_column {
	text-align: center;
}

#tableIngredientes {
	display: none;
}

#tableIngredientes th.ingrediente_column {
	width: 200px;
}

#tableIngredientes th.quantidade_column, input[type=number] {
	width: 50px;
}

#relatorio {
	display: none;
	border: 1px solid black;
	width: 80%;
	padding: 10px;
}

#botaoFinalizarCompra {
	color: white;
	background-color: teal;
}
